body {
    margin: 0;
    margin-bottom: 0px;
}

.initialimage {
    opacity: 0.8;
}

.topbar {
    position:absolute;
    top:0%;
    background-color: #000000;
    overflow: hidden;
}

.topbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 15px 15px;
    text-decoration:none;
    font-size: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
.topbar a:hover{
    background-color:white;
    color:black;
}

.welcomesign {
    position:absolute;
    left: 80%;
    top: 10%;
    transform: translate(-50%);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:30px;
    color:white;
    display:inline;
    white-space:nowrap;
}

.middlebar{
    position:absolute;
    height:100px;
    top:47px;
    width:100%;
    background: linear-gradient(to bottom,rgb(17, 56, 36),white);
    overflow:hidden;
}

.bottombar{
    position:absolute;
    bottom:0%;
    height:110px;
    width:100%;
    background: linear-gradient(to bottom, #516164 ,rgb(13, 25, 12));
    overflow:hidden;
}

.quickgame{
    position:absolute;
    top:10.1%;
    left:12%;
    font-size:48px;
    border-radius: 50px;
    border: none;
    background-color:#395041;
    color: white;
    font-size: 24px;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    
}

#centerdot{
    position:absolute;
    top:50%;
    left:50%;
    overflow:hidden;
}

#coordinatestext {
    display: flex;
    justify-content: top;
    align-items: top;
    height: 50vh;
    margin: 0;
    }
  
#coordinates {
    font-size: 24px;
}
